.home {
	transition: background-image .2s;
}

span, input[type=checkbox], #calendarDiv, #bookingIntro .status, #bookingIntro .statusBlurb, #avatarForm label, #capacitySearchDiv p {
	transition: all .4s;
}

#islandBookDiv label, #monthHeader button, .bookingRadio label, #accountTable tbody tr td, footer button {
	transition: all .2s;
}


/* INDEX.PHP */
#locationText {
	transition: opacity 2s;
}

#locationText a, #introTxt a, #authForm button {
	transition: background-color .2s;
}

.locationPointer {
	transition: max-width 3s;
}


/* BOOKING.PHP */
@keyframes revealAnim {
	from {
		opacity: 0;
		max-height: 0;
	}

	to {
		opacity: 1;
		max-height: 1200px;
	}
}

#checkoutDiv.bookingAnim {
	animation: revealAnim 2s forwards;
}


/* FOOTER.PHP */
@keyframes clipboardAnim {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.footerAnim {
	opacity: 1;
	animation: clipboardAnim 1s 1s forwards;
}