header span {
	background-color: #034ABF;
}

footer {
	background-color: #222;
}

#locationDiv button, .locationLine {
	background-color: #00FF80;
}

#locationText a:hover {
	background-color: rgba(3, 74, 191, 0.2);
}

footer p, #locationText a {
	color: #707070;
}

.booking, .account {
	color: #000;
}

.booking.bright, .account.bright {
	color: #fff;
}

.booking:hover, .account:hover, .booking.current, .account.current, #locationText a:hover {
	color: #034ABF;
}

#locationDiv .locationButton, #home {
	border-color: #222;
}

#locationDiv .locationClicked {
	border-color: #00FF80;
}

#locationText a {
	border-color: #707070;
}

#locationText a:hover {
	border-color: #034ABF;
}

.bright {
	border-color: #fff;
}