span, #locationText a, #introTxt a, #locationDiv button, .locationLine, #authForm:valid button, input[type=checkbox]:checked {
	background-color: #ff7f50;
}

footer {
	background-color: #222;
}

#locationText a:hover, #introTxt a:hover, #authForm:valid button:hover {
	background-color: #ff926a;
}

#companyInfo, #about, #authForm:invalid button {
	background-color: #fff;
}

#mapDiv {
	background-color: navajowhite;
}

footer p, #authForm:invalid button {
	color: #707070;
}

.booking, .auth, #authForm a {
	color: #000;
}

.booking.bright, .auth.bright, a, #authForm:valid button, input[type=checkbox]:before {
	color: #fff;
}

.booking:hover, .auth:hover, .booking.current, .auth.current, #companyInfo div h1, #about div h1, #authForm h1, #authForm a:hover {
	color: #ff7f50;
}

.warning {
	color: #ff5079;
}

#locationDiv .locationButton, #home, #companyInfo div {
	border-color: #222;
}

#locationDiv .locationClicked {
	border-color: #ff7f50;
}

#homeDiv.bright {
	border-color: #fff;
}

#companyInfo div, #about div img, #authForm, #authForm:invalid button {
	border-color: #c2c2c2;
}

#authForm input[type="text"], #authForm input[type="password"], input[type=checkbox] {
	border-color: #707070;
}

#authForm input[type="text"]:valid, #authForm input[type="password"]:valid {
	border-color: #50ff7f;
}

#authForm input.invalid {
	border-color: #ff5079;
}

input[type=checkbox]:checked {
	border-color: #ff7f50;
}

#authForm input {
	outline-color: #ff7f50;
}