body {
	padding: 0px;
	margin: 0px;
	font-family: Tahoma, Helvetica, sans-serif;
	overflow: auto;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

header {
	position: absolute;
	z-index: 1;
	width: 100%;
	text-align: center;
}

header #homeDiv {
	position: relative;
	display: inline-block;
	width: max-content;
	padding: 24px 24px 16px 24px;
	border: 2px solid;
	border-radius: 50%;
	bottom: 24px;
}

header a {
	display: inline-block;
}

header div {
	display: inline-block;
	vertical-align: top;
	width: 86px;
	margin: 8px;
	text-align: left;
}

.home {
	height: 64px;
	width: 64px;
	background-image: url("/img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 8px;
}

.home:hover {
	background-image: url("/img/logoHover.png");
}

.booking, .auth {
	font-size: 22px;
	letter-spacing: 1px;
	text-decoration: none;
}

.booking:hover span, .auth:hover span, .booking.current, .auth.current, .booking.current span, .auth.current span, #authForm a:hover span {
	opacity: 1;
	top: 8px;
}

header span, #authDiv span {
	position: relative;
	top: 0px;
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 4px;
	opacity: 0;
}

footer {
	display: inline-block;
	width: 100%;
	height: 320px;
}

footer img, footer div {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

footer img {
	float: right;
	margin-right: 10%;
}

footer p {
	font-size: 18px;
	line-height: 26px;
}

footer div {
	margin-left: 10%;
}


/* INDEX.PHP */
#intro {
	height: 65vh;
}

#intro img {
	position: fixed;
	z-index: -1;
	width: 100%;
	filter: brightness(0.66);
}

#introTxt {
	position: absolute;
	color: white;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -65%);
	text-align: center;
}

#introTxt h1 {
	font-size: 72px;
	letter-spacing: 2px;
	margin-bottom: 24px;
}

#introTxt p {
	font-size: 24px;
	margin-bottom: 24px;
}

#introTxt a {
	display: inline-block;
	margin-top: 48px;
}

#companyInfo, #about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 100px 0px;
}

#companyInfo div {
	width: 20vw;
	margin: 24px;
	padding: 0px 16px 16px 16px;
	text-align: center;
}

#companyInfo div h1 {
	margin: 0px;
	padding-bottom: 12px;
	border-bottom: 4px solid;
}

#mapDiv {
	position: relative;
	display: grid;
	width: 100%;
	justify-content: right;
	grid-template-rows: 612px;
	grid-template-columns: 500px 1000px;
	grid-gap: 200px;
}

#locationDiv, .locationPointer, #mapDiv img {
	grid-column: 2;
}

#locationText, #locationDiv, .locationPointer, #mapDiv img {
	grid-row: 1;
}

#locationDiv .locationBtn {
	position: absolute;
	height: 14px;
	width: 14px;
	padding: 0px;
	border-radius: 50%;
	border: 1px solid;
	cursor: pointer;
}

#locationText {
	grid-column: 1;
	width: 100%;
	height: 300px;
	margin-top: 64px;
}

#locationText a, #introTxt a {
	width: max-content;
	padding: 12px;
	font-size: 18px;
	letter-spacing: 1px;
	border-radius: 2px;
}

#locationText a {
	margin-top: 24px;
	display: none;
}

.locationPointer {
	justify-self: right;
	height: 100%;
	width: 178%;
	max-width: 0%;
	overflow: hidden;
}

.locationLineAnim {
	max-width: 178%;
}

.locationLine {
	position: relative;
	height: 4px;
	float: right;
	clear: both;
	border-radius: 4px;
	transform: var(--rotation);
	width: var(--width);
	top: var(--top);
	right: var(--right);
}

#mallaig {
	top: 183px;
    right: 115px;
}

#eigg {
	top: 380px;
    right: 472px;
}

#muck {
	top: 517px;
    right: 571px;
}

#rum {
	top: 178px;
    right: 686px;
}


/* ABOUT ISLAND */
#about div {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 0px auto;
	grid-gap: 32px;
	margin: 48px 50vw;
}

#about div h1, #about div p {
	grid-column: 1;
}

#about div h1 {
	grid-row: 1;
	margin-top: 0px;
}

#about div p {
	grid-row: 2;
	width: 300px;
}

#about div img {
	grid-column: 2;
	grid-row: 1 / span 2;
}

#about #reverse h1, #about #reverse p  {
	grid-column: 2;
}

#about #reverse img {
	grid-column: 1;
}

#about div img {
	width: 300px;
	height: 300px;
	border: 1px solid;
	border-radius: 4px;
}


/* LOGIN/REGISTER */
#authDiv {
	position: relative;
	top: 116;
	display: flex;
	width: 100%;
	min-height: calc(100% - 116px);
	justify-content: center;
	align-items: center;
}

#authForm {
	border: 1px solid;
	border-radius: 8px;
	box-shadow: 0px 0px 16px -8px #000;
	padding: 32px;
}

#authForm input[type="text"], #authForm input[type="password"], #authForm a, #authForm button {
	display: block;
	margin: 12px 0px;
}

#authForm label {
	margin-left: 4px;
	letter-spacing: 0.5px;
}

#authForm h1 {
	text-align: center;
	margin: 0px;
	margin-bottom: 48px;
}

#authForm input[type="text"], #authForm input[type="password"] {
	width: 300px;
	height: 36px;
	padding: 8px;
	margin: 24px 0px;
	border: 1px solid;
	border-radius: 24px;
}

input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 4px;
	width: 20;
	height: 20;
	padding: 0px 4px;
	border: 1px solid;
	cursor: pointer;
}

input[type=checkbox]:before {
	display: inline-block;
	content: "\2713";
}

#authForm button {
	width: 66%;
	padding: 12px;
	font-size: 18px;
	margin: 48px auto;
	margin-bottom: 0px;
	border: 1px solid;
	border-radius: 4px;
}

#authForm:valid button {
	border: none;
	cursor: pointer;
}

#authForm a {
	width: max-content;
	margin: 0px auto;
	margin-top: 36px;
	letter-spacing: 1px;
}

.warning {
	text-align: center;
}


/* BOOKING.PHP */
#bookingIntro {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 200px 200px;
	justify-content: center;
	justify-items: center;
	padding: 148px 0px 64px 0px;
}

#bookingIntro h1, #bookingIntro #dashLine {
	grid-column: 1 / span 2;
}

#bookingIntro > .status, #bookingIntro > .statusBlurb {
	grid-column: 1;
}

#bookingIntro > .status ~ .status, #bookingIntro > .statusBlurb ~ .statusBlurb {
	grid-column: 2;
}

#bookingIntro h1 {
	grid-row: 1;
	font-size: 36px;
}

#bookingIntro .status, #bookingIntro #dashLine {
	grid-row: 2;
	margin: 0px;
	margin-top: 8px;
}

#bookingIntro .statusBlurb {
	grid-row: 3;
}

#bookingIntro .status {
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 34px;
	border: 1px solid;
	border-radius: 24px;
}

#dashLine {
	height: 4px;
	width: 132px;
	align-self: center;
	background-image: linear-gradient(to right, #222 50%, rgba(255,255,255,0) 0%);
	background-position: left;
	background-size: 24px 4px;
	background-repeat: repeat-x;
}

#islandBookDiv {
	display: flex;
	text-align: center;
	padding: 0px 8px;
}

#islandBookDiv div {
	margin: 8px;
}

#islandBookDiv h1, #islandBookDiv p {
	margin: 0px;
}

#islandBookDiv h1 {
	padding: 21px 0px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

#islandBookDiv p {
	padding: 8px;
	padding-bottom: 88px;
	border: 1px solid;
	border-top: none;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

#islandBookDiv input {
	display: none;
}

#islandBookDiv label {
	display: inline-block;
	position: relative;
	bottom: 66px;
	padding: 12px 48px;
	border: 1px solid;
	border-radius: 2px;
	cursor: pointer;
}