@media print
{    
	header, footer
	{
		display: none !important;
	}

	body {
		height: 100%;
		overflow: hidden;
		-webkit-print-color-adjust:exact !important;
		print-color-adjust:exact !important;
	}

	#printDiv {
		background-image: url("../img/logoPrint.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90% 90%;
		margin: 0px;
	}
}

@media (max-width:480px) {
	#introTxt h1 {
		font-size: 88px;
	}

	#accountTable tr th:nth-child(4), #accountTable tr td:nth-child(4) {
		display:none;
	}

	#printBooked {
		margin: 16px 0px 0px 0px;
	}
	#printDetails .albaButton {
		width: 100%;
		margin-top: 64px;
	}
	#printDetails table thead th, #printDetails table tbody td {
		padding: 4px 6px;
	}
}

@media (max-width: 558px) {
	footer {
		text-align: center;
	}
	#ageDiv p {
		margin-left: 8px;
	}
}

@media (max-width: 660px) {
	#printBooked {
		margin: 16px 0px 0px 0px;
	}

	footer #cookieP {
		margin: 0 5%;
	}
}

@media (max-width: 840px) {
	#bookingRadioDiv {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	#bookingRadioDiv a {
		left: 49px;
	}
	.bookingRadio {
		margin: 0px;
	}

	#bookingCost #timeDiv {
		width: 100%;
		border: 1px solid;
	}
	#bookingCost #timeDiv, #bookingCost #priceBtn {
		border-radius: 2px;
	}
	#bookingCost #priceBtn {
		width: calc(100% + 2px);
		margin: 24px 0px 0px 0px;
	}

	footer {
		gap: 10vw;
	}
}

@media (max-width: 1650px) { 
	#locationDiv, .locationPointer, #mapDiv img {
		display: none;
	}
	#locationSelect {
		display: block;
	}
	#mapDiv {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-gap: 0px;
		padding: 16px;
		justify-items: center;
		justify-content: center;
		box-sizing: border-box;
	}
	#locationText {
		text-align: center;
		grid-row: 2;
		margin-top: 0px;
	}

	#locationText a {
		text-align: center;
	}
}