@media print
{    
	header, footer
	{
		display: none !important;
	}

	body {
		height: 100%;
		overflow: hidden;
		-webkit-print-color-adjust:exact !important;
		print-color-adjust:exact !important;
	}

	#printDiv {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url("/img/logoPrint.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90% 90%;
		margin: 0px;
	}
}

@media (max-width:480px) {
	#accountTable tr th:nth-child(4), #accountTable tr td:nth-child(4) {
		display:none;
	}

	#printBooked {
		margin: 16px 0px 0px 0px;
	}

	#printDetails .albaButton {
		width: 100%;
		margin-top: 64px;
	}
}

@media (max-width:558px) {
	footer {
		text-align: center;
	}
}

@media (max-width:660px) {
	#printBooked {
		margin: 16px 0px 0px 0px;
	}
}